@model EmployeeManagementSystem.Models.Employee

@{
    ViewBag.Title = "AddEmployee";
 
    if (TempData["data"] != null)
    {
        <div class="alert alert-warning">
            @TempData["data"]
        </div>
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container mt-4">
        <h4>Employee Details</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

        <div class="row mb-3">
            <label for="EmployeeID" class="col-sm-2 col-form-label">Employee ID</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.EmployeeID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmployeeID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row mb-3">
            <label for="employeeName" class="col-sm-2 col-form-label">Employee Name</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.EmployeeName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmployeeName, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="row mb-3">
            <label for="DepartmentID" class="col-sm-2 col-form-label">Department</label>
            <div class="col-sm-10">
                @Html.DropDownListFor(
                    model => model.DepartmentID,
                    new SelectList(ViewBag.Department, "DepartmentID", "DepartmentName"),
                    "Select Department", // 
                    new { @class = "form-select" }
                )
                @Html.ValidationMessageFor(model => model.DepartmentID, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="row mb-3">
            <label for="DOB" class="col-sm-2 col-form-label">Date of Birth</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row mb-3">
            <label for="Gender" class="col-sm-2 col-form-label">Gender</label>
            <div class="col-sm-10">
                <div class="form-check form-check-inline">
                    <input type="radio" id="GenderMale" name="Gender" value="Male" class="form-check-input" />
                    <label class="form-check-label" for="GenderMale">Male</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" id="GenderFemale" name="Gender" value="Female" class="form-check-input" />
                    <label class="form-check-label" for="GenderFemale">Female</label>
                </div>
                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row mb-3">
            <label for="Addres" class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-10">
                @Html.TextAreaFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row mb-3">
            <label for="mobNumber" class="col-sm-2 col-form-label">Mobile Number</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 offset-sm-2">
                <button type="submit" class="btn btn-primary">Submit</button>
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary ms-2" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
