@model IEnumerable<EmployeeManagementSystem.Models.Employee>
<script src=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
@{
    ViewBag.Title = "Show";

}

<h2>Students</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Sr no")
        </th>
        <th>
            @Html.DisplayName("Employee Id")
        </th>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("Department")
        </th>
        <th>
            @Html.DisplayName("Age")
        </th>
        <th>
            @Html.DisplayName("Gender")
        </th>
        <th>
            @Html.DisplayName("Address")
        </th>
        <th>
            @Html.DisplayName("Phone Number")
        </th>
        <th></th>
    </tr>
    @{ int count = 1;}
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @count
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>

            <td>
                @(DateTime.Now.Subtract(item.DateOfBirth).Days/365)
                @*@item.DOB.ToString("dd-MM-yyyy")*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @*@Html.ActionLink("", "Edit", new { id = item.Id }) |*@
                <a href="@Url.Action("Edit", new { id = item.Id })">
                    <i class="fa fa-edit" style="font-size:25px;color:lightseagreen"></i>
                </a>

                <i class='fas fa-eye' style='font-size:24px'></i>

                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
            @*@Html.Value(Convert.ToInt32(@count = @count + 1))*@
            @{ count = count + 1; }
        </tr>

    }

</table>
